<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>elena_batmanova@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Елена</string>
				<key>lastName</key>
				<string>Батманова</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Elena</string>
				<key>lastName</key>
				<string>Batmanova</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1987-05-09T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>vladimir_bazhanov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Владимир</string>
				<key>lastName</key>
				<string>Бажанов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Vladimir</string>
				<key>lastName</key>
				<string>Bazhanov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1985-02-22T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>artem_biserov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Артем</string>
				<key>lastName</key>
				<string>Бизеров</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Artem</string>
				<key>lastName</key>
				<string>Biserov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1987-08-24T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>arkadiy_butermanov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Аркадий</string>
				<key>lastName</key>
				<string>Бутерманов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Arkadiy</string>
				<key>lastName</key>
				<string>Butermanov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1992-01-07T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string>timurv</string>
		<key>imageUrl</key>
		<string>timur_vafin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Тимур</string>
				<key>lastName</key>
				<string>Вафин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Timur</string>
				<key>lastName</key>
				<string>Vafin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1984-09-08T19:00:00Z</date>
		<key>githubName</key>
		<string>timurvafin</string>
		<key>objectID</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>rafael_gainutdinov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Рафаиль</string>
				<key>lastName</key>
				<string>Гайнутдинов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Rafael</string>
				<key>lastName</key>
				<string>Gainutdinov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1986-06-04T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>alina_gardamshina@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Алина</string>
				<key>lastName</key>
				<string>Гардамшина</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Alina</string>
				<key>lastName</key>
				<string>Gardamshina</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1993-07-21T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>rustem_giniyatullin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Рустем</string>
				<key>lastName</key>
				<string>Гиниятуллин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Rustem</string>
				<key>lastName</key>
				<string>Giniyatullin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1984-08-02T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>anton_gudkov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Антон</string>
				<key>lastName</key>
				<string>Гудков</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Anton</string>
				<key>lastName</key>
				<string>Gudkov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1989-01-24T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>eugene_gundorov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Евгений</string>
				<key>lastName</key>
				<string>Гундоров</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Eugene</string>
				<key>lastName</key>
				<string>Gundorov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1989-04-18T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>vladimir_goncharov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Владимир</string>
				<key>lastName</key>
				<string>Гончаров</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Vladimir</string>
				<key>lastName</key>
				<string>Goncharov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1991-08-23T21:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>leonid_dinershtein@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Леонид</string>
				<key>lastName</key>
				<string>Динерштейн</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Leonid</string>
				<key>lastName</key>
				<string>Dinershtein</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1987-12-21T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>ilya_eremin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Илья</string>
				<key>lastName</key>
				<string>Еремин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ilya</string>
				<key>lastName</key>
				<string>Eremin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1992-03-31T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string>danisziganshin</string>
		<key>imageUrl</key>
		<string>danis_ziganshin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Данис</string>
				<key>lastName</key>
				<string>Зиганшин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Danis</string>
				<key>lastName</key>
				<string>Ziganshin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1989-12-05T21:00:00Z</date>
		<key>githubName</key>
		<string>zigdanis</string>
		<key>objectID</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>arthur_igberdin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Артур</string>
				<key>lastName</key>
				<string>Игбердин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Arthur</string>
				<key>lastName</key>
				<string>Igberdin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1990-03-17T21:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>14</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>ildar_kayumov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ильдар</string>
				<key>lastName</key>
				<string>Каюмов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ildar</string>
				<key>lastName</key>
				<string>Kayumov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1991-08-04T21:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string>renatkurbanov</string>
		<key>imageUrl</key>
		<string>renat_kurbanov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ренат</string>
				<key>lastName</key>
				<string>Курбанов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Renat</string>
				<key>lastName</key>
				<string>Kurbanov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1990-11-05T21:00:00Z</date>
		<key>githubName</key>
		<string>ren6</string>
		<key>objectID</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string>olegkurnosov</string>
		<key>imageUrl</key>
		<string>oleg_kurnosov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Олег</string>
				<key>lastName</key>
				<string>Курносов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Oleg</string>
				<key>lastName</key>
				<string>Kurnosov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1984-07-24T19:00:00Z</date>
		<key>githubName</key>
		<string>olegkurnosov</string>
		<key>objectID</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string>alexmamaev</string>
		<key>imageUrl</key>
		<string>alex_mamaev@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Алексей</string>
				<key>lastName</key>
				<string>Мамаев</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Alex</string>
				<key>lastName</key>
				<string>Mamaev</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1984-08-03T19:00:00Z</date>
		<key>githubName</key>
		<string>alexeymamaev</string>
		<key>objectID</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>amir_mingaliev@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Амир</string>
				<key>lastName</key>
				<string>Мингалиев</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Amir</string>
				<key>lastName</key>
				<string>Mingaliev</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1993-07-09T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>vladimir_mikhailov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Владимир</string>
				<key>lastName</key>
				<string>Михайлов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Vladimir</string>
				<key>lastName</key>
				<string>Mikhailov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1990-03-30T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>alisa_muzafarova@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Алиса</string>
				<key>lastName</key>
				<string>Музафарова</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Alisa</string>
				<key>lastName</key>
				<string>Muzafarova</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1985-04-19T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>21</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>liliya_nigmatzyanova@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Лилия</string>
				<key>lastName</key>
				<string>Нигматзянова</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Liliya</string>
				<key>lastName</key>
				<string>Nigmatzyanova</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1989-09-29T21:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>22</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>vasiliy_polovnev@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Василий</string>
				<key>lastName</key>
				<string>Половнёв</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Vasiliy</string>
				<key>lastName</key>
				<string>Polovnev</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1986-07-06T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>max_prokopiev@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Максим</string>
				<key>lastName</key>
				<string>Прокопьев</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Max</string>
				<key>lastName</key>
				<string>Prokopiev</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1988-12-21T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>24</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>dinara_rasuleva@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Динара</string>
				<key>lastName</key>
				<string>Расулева</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Dinara</string>
				<key>lastName</key>
				<string>Rasuleva</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1987-11-07T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>farid_sagiev@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Фарид</string>
				<key>lastName</key>
				<string>Сагиев</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Farid</string>
				<key>lastName</key>
				<string>Sagiev</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1992-12-18T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>26</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>ildus_sadykov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ильдус</string>
				<key>lastName</key>
				<string>Садыков</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ildus</string>
				<key>lastName</key>
				<string>Vafin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1988-07-27T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>27</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>elena_salahova@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Елена</string>
				<key>lastName</key>
				<string>Салахова</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Elena</string>
				<key>lastName</key>
				<string>Salahova</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1964-01-01T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>ildar_safin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ильдар</string>
				<key>lastName</key>
				<string>Сафин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ildar</string>
				<key>lastName</key>
				<string>Safin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1994-09-20T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>29</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>daniyar_safiullin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Данияр</string>
				<key>lastName</key>
				<string>Сафиуллин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Daniyar</string>
				<key>lastName</key>
				<string>Safiullin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1987-06-02T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>dmitry_trager@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Дмитрий</string>
				<key>lastName</key>
				<string>Трагер</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Dmitry</string>
				<key>lastName</key>
				<string>Trager</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1985-04-22T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>31</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>ildar_usmanov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ильдар</string>
				<key>lastName</key>
				<string>Усманов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ildar</string>
				<key>lastName</key>
				<string>Usmanov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1991-02-02T21:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>32</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>leisan_farrahova@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Лейсан</string>
				<key>lastName</key>
				<string>Фаррахова</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Leisan</string>
				<key>lastName</key>
				<string>Farrahova</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1989-05-05T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>33</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>liliya_fatykhova@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Лилия</string>
				<key>lastName</key>
				<string>Фатыхова</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Liliya</string>
				<key>lastName</key>
				<string>Fatykhova</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1992-07-28T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>34</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>marat_fakhreev@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Марат</string>
				<key>lastName</key>
				<string>Фахреев</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Marat</string>
				<key>lastName</key>
				<string>Fakhreev</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1990-03-28T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>anton_fefilov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Антон</string>
				<key>lastName</key>
				<string>Фефилов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Anton</string>
				<key>lastName</key>
				<string>Fefilov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1979-10-21T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>ruslan_khaertdinov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Руслан</string>
				<key>lastName</key>
				<string>Хаертдинов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Ruslan</string>
				<key>lastName</key>
				<string>Khaertdinov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1986-08-17T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>37</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>nadezhda_shosheva@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Надежда</string>
				<key>lastName</key>
				<string>Шошева</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Nadezhda</string>
				<key>lastName</key>
				<string>Shosheva</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1986-03-20T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>38</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>dina_zinurova@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Дина</string>
				<key>lastName</key>
				<string>Зимурова</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Dina</string>
				<key>lastName</key>
				<string>Zinurova</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1986-11-22T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>39</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>kamil_hismatullin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Камиль</string>
				<key>lastName</key>
				<string>Хисматуллин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Kamil</string>
				<key>lastName</key>
				<string>Hismatullin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1993-09-06T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>max_hoffman@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Максим</string>
				<key>lastName</key>
				<string>Хоффман</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Max</string>
				<key>lastName</key>
				<string>Hoffman</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1990-01-06T21:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>41</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>airat_shigapov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Айрат</string>
				<key>lastName</key>
				<string>Шигапов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Airat</string>
				<key>lastName</key>
				<string>Shigapov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1993-11-06T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>42</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>alex_bea@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Алекс</string>
				<key>lastName</key>
				<string>Беа</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Alex</string>
				<key>lastName</key>
				<string>Bea</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1990-06-22T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>43</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>artur_pushkin@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Артур</string>
				<key>lastName</key>
				<string>Пушкин</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Arthur</string>
				<key>lastName</key>
				<string>Pushkin</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1988-02-16T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>44</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>nickolay_abdrafikov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Николай</string>
				<key>lastName</key>
				<string>Абдрафиков</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Nickolay</string>
				<key>lastName</key>
				<string>Abdrafikov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1983-05-10T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>askar_zinurov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Аскар</string>
				<key>lastName</key>
				<string>Зинуров</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Askar</string>
				<key>lastName</key>
				<string>Zinurov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1985-07-06T19:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>46</integer>
	</dict>
	<dict>
		<key>twitterName</key>
		<string></string>
		<key>imageUrl</key>
		<string>marsel_shiriyazdanov@2x.png</string>
		<key>localization</key>
		<dict>
			<key>ru</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Марсель</string>
				<key>lastName</key>
				<string>Шириязданов</string>
			</dict>
			<key>en</key>
			<dict>
				<key>detailDescription</key>
				<string></string>
				<key>firstName</key>
				<string>Marsel</string>
				<key>lastName</key>
				<string>Shiriyazdanov</string>
			</dict>
		</dict>
		<key>birthday</key>
		<date>1991-12-02T20:00:00Z</date>
		<key>githubName</key>
		<string></string>
		<key>objectID</key>
		<integer>47</integer>
	</dict>
</array>
</plist>
